<section>
	<h1 class="hl">MOOCFinder</h1>
	
	<h3 class="hl">The Source for MOOCs</h3>
	
	<p>
		Massive Open Online Courses (MOOCs) are one of the leading trends, when it comes to online education and learning.
	</p>
</section>