<footer class="effect7">
	<div class="container">
		<div class="row">
			<ul class="list-inline footerlinks">
			  <li>
				<%= link_to('About', about_path, :method => :get) %>
			  </li>
			  <li>
				<%= link_to('Contact', contact_path, :method => :get) %>
			  </li>
			  <li>
				<%= link_to('MOOCs', moocs_path, :method => :get) %>
			  </li>
			</ul>
		</div>
	</div>
</footer>